.galery {
	height: 100vh;
	width: 100vw;
	background-color: rgba(61, 61, 61, 1);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	opacity: 1;
	pointer-events: all;
	transition: 500ms;
}

.gallery__upper {
	width: 100vw;
	position: absolute;
	justify-content: center;
	align-items: center;
}

.gallery__slider__img__conteiner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery__slider__img__conteiner__img {
	position: relative;
	object-fit: fill;
	max-width: 1100px;
	max-height: 600px;
	border-radius: 8px;
}

.gallery__arrow__left {
	position: absolute;
	left: 0;
	width: 70px;
	height: 500px;
	bottom: 150px;
	cursor: pointer;
	transition: .3s;
	color: white;
}

.gallery__arrow__right {
	position: absolute;
	right: 0;
	width: 70px;
	height: 200px;
	bottom: 150px;
	cursor: pointer;
	transition: .3s;
	color: white;
}

.gallery__arrow__right:hover ,
.gallery__arrow__left:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.gallery__counter {
	position: absolute;
	top: 790px;
}

.image__conteiner {
	position: fixed;
	display: flex;
	top: 400px;
	transition: 200ms;
	margin-top: 430px;
}

.image__conteiner img {
	width: 165px;
	height: 100px;
	margin-right: 10px;
	position: relative;
}

.active {
	border-radius: 8px;
	transition: 200ms;
}

.non__active {
	opacity: 0.3;
	transition: 200ms;
}
